<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @resource.user.email %></h1>
    <p>
      <a href="<%= @url_matcher %>"><%= @matcher.account.display_name %></a> tought
      the user <a href="<%= @url_nominee %>"><%= @nominee.account.display_name %></a>
      could make good use of your <a href="<%= @url_resource %>">resource</a> .
      We suggest you discuss with the user and confirm the match if you will think the same.
    </p>

    <p>
      Have a friendly day!
    </p>
  </body>
</html>
