Hi <%= @nominee.email %>

<%= @url_matcher %> <%= @matcher.account.display_name %> tought
you may share many interests with <%= @url_second_nominee %>
<%= @second_nominee.account.display_name %></a>.
We suggest you take a look at his/her profile, maybe start a conversation,
and confirm the match if you will arrive at the conclusion that it was a good idea.

  Have a friendly day!
